.main{
      display: grid;
      grid-template-areas:
      "topbar topbar topbar"
      "nothing content nothing"
      "footer footer footer";
      align-items: center;
}


.header{
      grid-area: topbar;
}


.img{
      grid-area: content;
}

#buttonGroup{
      grid-area: footer;
}