.main{
      display: grid;
      grid-template-areas:
      "topbar topbar topbar"
      "nothing content nothing"
      "footer footer footer";
}


.header{
      grid-area: topbar;
}


#buttonGroup{
      grid-area: footer;
}