.main{
    display: grid;
    grid-template-areas:
    "left topbar right"
}


.h1{
    grid-area: left;
    background-color: green;
}


.div{
    grid-area: topbar;
    background-color: tomato;
}

.h2{
    grid-area: right;
    background-color: yellow;
}